mainmenu "MyOS x86_32 Kernel Configuration"

menu "General Setup"

choice
    prompt "Video mode"
    default TTY_VGA

config TTY_VGA
    bool "VGA text mode"
    help
        Use text mode with default 80x25 resolution

config TTY_VBE
    bool "VESA BIOS Extension graphics mode"
    help
        Use VESA BIOS Extension for graphics mode (bigger resolutions)

endchoice


config TTY_VBE_WIDTH
    int "Graphics mode width"
    help
        Choose the width
    depends on TTY_VBE
    default 1920

config TTY_VBE_HEIGHT
    int "Graphics mode height"
    help
        Choose the height
    depends on TTY_VBE
    default 1080

config VERBOSE
    bool "Show kernel messages"
    help
        Enable to print kernel messages
    default n

config RTC
    bool "Real time clock"
    default y
    help
        Enable the real time clock, this configuration will make the 'datetime' command available

endmenu

source kernel/Kconfig

